.pokemon-master {
  padding: 10px;
  flex-grow: 1;
}

.pokemon-grandfather {
  text-align: center;
  margin: auto;
}

.pokemon-father {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

.pokemon {
  border: 1px solid grey;
  border-radius: 10px;
}

.pokemon-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-img {
  display: flex;
  justify-content: center;
}

.pokemon-button {
  margin-top: 10px;
}
