.fundoamarelo {
    background-color: yellow;
}

.par:nth-last-of-type(even) {
    color: green;
}

.impar:nth-last-of-type(odd) {
    text-transform: uppercase;
}

.header {
    color: red;
}

.italico {
    font-size: 40px;
    border: 1px solid black;
}