.fundoamarelo {
    background-color: yellow;
}

.par:nth-last-of-type(even) {
    color: green;
}

.impar:nth-last-of-type(odd) {
    text-transform: uppercase;
}

.header {
    color: red;
}

.italico {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

li:hover {
    padding: 1px;
}

div.fonteazul li:nth-child(-n + 3) {
    color: blue;
}

div.fonteazul li.java {
    background-color: pink;
}

div.hover .laranja:hover {
    color: orange;
    font-weight: bold;
}

div.hover .verde:hover {
    color: green;
    font-weight: bold;
}

div.hover .preta:hover {
    color: black;
    font-weight: bold;
}

div.hover .amarela:hover {
    color: yellow;
    font-weight: bold;
}