.header h1 {
  font-size: 100px;
  text-align: center;
  font-family: Corinthia;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-bottom: 0;
}

.main {
  text-align: center;
}

#paragraph {
  width: 1000px;
  margin: auto;
}

#change {
  margin: auto;
  text-align: center;
  padding: 20px 50px;
}